<div class="card text-white a-card card-with-img-bg h-100" data-href="{{ .Permalink }}" tabindex="0">
    {{ $page := .Page }}
    {{ range first 1 ($page.Resources.ByType "image") }}
        {{ $src := $page.Resources.GetMatch (. | safeURL)  }}
        {{ $img_widths := slice 300 500 }}
        {{ $size_rules := slice
            "(max-width: 768px) 100vw"
            "(max-width: 992px) 66vw"
            "(max-width: 1200px) 30rem"
            "20rem"
        }}
        {{ partial "render-image"
            (dict "src" $src
                "class" "img-fluid card-img-top"
                "img_widths" $img_widths
                "size_rules" $size_rules ) }}
    {{ end }}
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h5 class="card-title">
                    {{ .Title }}
                </h5>
            </div>
            <div class="col-auto">
                {{ if .Draft }}<span class="badge rounded-pill bg-warning text-dark">draft</span>{{ end }}
            </div>
            <div class="col-auto">
                {{ partial "taxonomy" . }}
            </div>
        </div>
    </div>
</div>