{{/*  image ressourece  */}}
{{ $src := .src }}


{{/*
    list of img sizes to add to srcset
    last one will be the fallback image
*/}}
{{ $default_img_widths := slice 500 800 1200 }}
{{ $img_widths := .img_widths | default $default_img_widths }}

{{ $resized_list := slice }}
{{ $srcset := slice }}
{{ range $img_widths }}
    {{ $resized := $src.Resize (printf "%dx webp" .) }}
    {{ $srcset = $srcset | append (printf "%s %dw %dh" $resized.RelPermalink $resized.Width $resized.Height) }}
    {{ $resized_list = $resized_list | append $resized }}

    {{ $resized := $src.Resize (printf "%dx webp" (mul 2 .)) }}
    {{ $srcset = $srcset | append (printf "%s %dw %dh" $resized.RelPermalink $resized.Width $resized.Height) }}
    
    {{ $resized := $src.Resize (printf "%dx webp" (mul 3 .)) }}
    {{ $srcset = $srcset | append (printf "%s %dw %dh" $resized.RelPermalink $resized.Width $resized.Height) }}
{{ end }}
{{ $srcset := (delimit $srcset ", ") }}

{{ $fallback := index (last 1 $resized_list) 0 }}


{{/*
    list of sizes rules
*/}}
{{ $default_size_rules := slice ("100vw") }}
{{ $size_rules := .size_rules | default $default_size_rules }}

{{ $sizes := delimit $size_rules ", " }}

<img alt="{{ $.alt }}" loading="lazy" class="{{ .class }}"
    srcset="{{ $srcset }}"
    sizes="{{ $sizes }}"
    src="{{ $fallback.RelPermalink }}"
    height="{{ $fallback.Height}}"
    width="{{ $fallback.Width }}">