{{ define "main" }}
<main>
    <div class="my-5 dense-grid">
        {{ range .Site.RegularPages }}
            {{ $page := . }}
            {{ range first 1 ($page.Resources.ByType "image") }}
                {{ $src := $page.Resources.GetMatch (. | safeURL)  }}
                {{/*  20rem (col with)  */}}
                {{ $height := div ( mul 20 $src.Height ) $src.Width }}
                {{/*  2rem (row height) + 1rem (gap) = 3rem  */}}
                {{ $bucket := div $height 2 }}
                {{ $bucket := math.Max 8 $bucket }}
                {{ $bucket := math.Min 12 $bucket }}
                <div style="grid-row: span {{ printf "%.0f" $bucket }}">
                    {{ partial  "card_summary_index" $page }}
                </div>
            {{ end }}
        {{ end }}
    </div>
</main>
{{ end }}